################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpTask1/.vs/CSharpTask1/CopilotIndices/17.12.31.40377
/CSharpTask1/.vs/CSharpTask1/FileContentIndex

/bin/Debug/
/bin/Release/
