################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpTask1/.vs/CSharpTask1/CopilotIndices/17.12.31.40377
/CSharpTask1/.vs/CSharpTask1/FileContentIndex
/.vs/CSharp-Second-Semester-Tasks/CopilotIndices/17.12.31.40377
/bin/Debug/
/bin/Release/
/CSharpTask2.1/obj/Debug/net8.0
/TrainHandler/bin/Debug/net8.0
/TrainHandler/obj/Debug/net8.0
/CSharpTask1/.vs/ProjectEvaluation
/CSharpTask1/.vs/CSharpTask1/v17
/CSharpTask1/.vs/CSharpTask1/copilot-chat/7e3c3eb8/sessions
/TrainHandler/obj
/.vs/CSharp-Second-Semester-Tasks/FileContentIndex
/CSharpTask2/obj/Release/net8.0
