################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpTask1/.vs/CSharpTask1/CopilotIndices/17.12.31.40377
/CSharpTask1/.vs/CSharpTask1/FileContentIndex

/bin/Debug/
/bin/Release/
/CSharpTask1/.vs/CSharpTask1/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
/CSharpTask1/.vs/CSharpTask1/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
/CSharpTask1/.vs/CSharpTask1/v17/.futdcache.v2
/CSharpTask1/.vs/CSharpTask1/v17/.suo
/CSharpTask1/.vs/CSharpTask1/v17/DocumentLayout.json
/CSharpTask1/.vs/ProjectEvaluation/csharptask1.metadata.v9.bin
/CSharpTask1/.vs/ProjectEvaluation/csharptask1.projects.v9.bin
/CSharpTask1/.vs/ProjectEvaluation/csharptask1.strings.v9.bin
